In [1]:
import sqlite3 as sqlite

In [2]:
conn = sqlite.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

In [8]:
def get_email(fhandler):
    for line in fhandler:
        if not line.startswith('From: ') : continue
        pieces = line.split()
        return pieces[1]

In [9]:
fname = 'mbox.txt'
fh = open(fname)

In [10]:
emails = []

for line in fh:
    emails.append(get_email(fh))

In [24]:
emails.pop()

In [31]:
len(emails)

1797

In [33]:
orgs =[]

for i in emails:
    orgs.append(i.split('@')[1])

In [35]:
unique = set(orgs);unique

{'bu.edu',
 'caret.cam.ac.uk',
 'et.gatech.edu',
 'fhda.edu',
 'gmail.com',
 'indiana.edu',
 'iupui.edu',
 'lancaster.ac.uk',
 'loi.nl',
 'media.berkeley.edu',
 'rsmart.com',
 'stanford.edu',
 'txstate.edu',
 'ucdavis.edu',
 'uct.ac.za',
 'ufp.pt',
 'umich.edu',
 'unicon.net',
 'utoronto.ca',
 'vt.edu',
 'whitman.edu'}

In [36]:
len(unique)

21

In [37]:
from collections import defaultdict
d = {x:i.count(x) for x in i}

In [38]:
d = {x:orgs.count(x) for x in orgs}

In [39]:
d

{'bu.edu': 14,
 'caret.cam.ac.uk': 157,
 'et.gatech.edu': 17,
 'fhda.edu': 1,
 'gmail.com': 25,
 'indiana.edu': 178,
 'iupui.edu': 536,
 'lancaster.ac.uk': 14,
 'loi.nl': 9,
 'media.berkeley.edu': 56,
 'rsmart.com': 8,
 'stanford.edu': 12,
 'txstate.edu': 17,
 'ucdavis.edu': 1,
 'uct.ac.za': 96,
 'ufp.pt': 28,
 'umich.edu': 491,
 'unicon.net': 9,
 'utoronto.ca': 1,
 'vt.edu': 110,
 'whitman.edu': 17}

In [45]:
rows = []
for key, val in d.items():
    rows.append((key, val))
rows

[('txstate.edu', 17),
 ('media.berkeley.edu', 56),
 ('vt.edu', 110),
 ('whitman.edu', 17),
 ('lancaster.ac.uk', 14),
 ('rsmart.com', 8),
 ('fhda.edu', 1),
 ('uct.ac.za', 96),
 ('unicon.net', 9),
 ('utoronto.ca', 1),
 ('loi.nl', 9),
 ('indiana.edu', 178),
 ('et.gatech.edu', 17),
 ('umich.edu', 491),
 ('gmail.com', 25),
 ('ucdavis.edu', 1),
 ('stanford.edu', 12),
 ('bu.edu', 14),
 ('caret.cam.ac.uk', 157),
 ('ufp.pt', 28),
 ('iupui.edu', 536)]

In [48]:
for row in rows:
    conn.execute("INSERT INTO Counts VALUES (?,?)", row)

In [49]:
conn.commit()

In [50]:
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

In [51]:
for row in cur.execute(sqlstr):
    print str(row[0]), row[1]

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
txstate.edu 17