---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [1]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [12]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [11]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [13]:
s.iloc[3]

'South Korea'

In [14]:
s.loc['Golf']

'Scotland'

In [15]:
s[3]

'South Korea'

In [16]:
s['Golf']

'Scotland'

In [17]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [18]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [19]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [20]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [21]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [22]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    206
1    157
2    745
3    181
4    672
dtype: int64

In [25]:
len(s)

10000

In [23]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 1.74 ms per loop

In [24]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 166 µs per loop

In [25]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    208
1    159
2    747
3    183
4    674
dtype: int64

In [26]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    210
1    161
2    749
3    185
4    676
dtype: int64

In [27]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

10 loops, best of 3: 1.56 s per loop

In [28]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

10 loops, best of 3: 533 µs per loop

In [29]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [30]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [31]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [32]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [33]:
type(all_countries)

pandas.core.series.Series

In [34]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [35]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [39]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [36]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [37]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [38]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [39]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [40]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [41]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [42]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [43]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [44]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [45]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [46]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [56]:
copy_df.drop?

In [47]:
del copy_df['Name']
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

In [48]:
df['Location'] = None
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   2.5   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None

# Dataframe Indexing and Loading

In [49]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [98]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [103]:
df.loc("Gold")

NotImplementedError: ix is not iterable

In [ ]:
!cat olympics.csv

In [1]:
df = pd.read_csv('olympics.csv')
df.head()

NameError: name 'pd' is not defined

In [26]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [27]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [28]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

# Querying a DataFrame

In [29]:
df["pp"]=(df['Gold']*3+df['Silver']*2+df['Bronze']*1);type(df["pp"])

pandas.core.series.Series

In [30]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,pp
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,27.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,130.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,16.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,22.0

In [31]:
only_gold['Gold'].count()

100

In [32]:
df['Gold'].count()

147

In [33]:
only_gold = only_gold.dropna()
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,pp
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,27.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,130.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,16.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,22.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,898.0

In [34]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,pp
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,27
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,130
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,16
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,22
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,898

In [35]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

101

In [36]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,pp
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9,0

# Indexing Dataframes

In [211]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [212]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

KeyError: 'Gold'

In [39]:
df = df.reset_index()
df.head()

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,pp,country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,2,Afghanistan (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,27,Algeria (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,130,Argentina (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,16,Armenia (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,22,Australasia (ANZ) [ANZ]

In [213]:
df = pd.read_csv('census.csv')
df.head(7)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961

In [369]:
df = pd.read_csv('census.csv')
x = df[["STNAME", "CTYNAME", "CENSUS2010POP"]]

In [370]:
z = x[~(x.STNAME == x.CTYNAME)]

grouped = z.groupby(['STNAME', 'CTYNAME'], as_index=False)['CENSUS2010POP'].sum()

In [372]:
grouped.head()#.aggregate(np.sum).head()

    STNAME         CTYNAME  CENSUS2010POP
0  Alabama  Autauga County          54571
1  Alabama  Baldwin County         182265
2  Alabama  Barbour County          27457
3  Alabama     Bibb County          22915
4  Alabama   Blount County          57322

In [373]:
cities = pd.DataFrame(grouped['CENSUS2010POP'].groupby(level=0, group_keys=False).nlargest(3))

In [374]:
cities

      CENSUS2010POP
0             54571
1            182265
2             27457
3             22915
4             57322
5             10914
6             20947
7            118572
8             34215
9             25989
10            43643
11            13859
12            25833
13            13932
14            14972
15            49948
16            54428
17            13228
18            11539
19            37765
20            13906
21            80406
22            50251
23            43820
24            71109
25            79303
26            38319
27           104430
28            17241
29            31704
...             ...
3111          15911
3112         131887
3113         389891
3114          52410
3115          24496
3116         166994
3117          74749
3118          36299
3119          11668
3120          46133
3121          15885
3122          13833
3123           7083
3124          40123
3125          13249
3126           4812
3127           8569
3128          91738
3129          18106
3130          75450
3131           2484
3132          28205
3133           8667
3134          29116
3135          10247
3136          43806
3137          21294
3138          21118
3139           8533
3140           7208

[3141 rows x 1 columns]

In [392]:
df = pd.read_csv('census.csv')
x = df[["STNAME", "CTYNAME", "CENSUS2010POP"]]
z = x[~(x.STNAME == x.CTYNAME)]
y = z.groupby(['STNAME','CTYNAME'])['CENSUS2010POP'].agg({'count':sum})
cities = pd.DataFrame(y['count'].groupby(level=0, group_keys=False).nlargest(3))

sums={}

for i,_ in set(cities.index):
    sums[i] = cities.loc[i].values.flatten()

myres = pd.DataFrame.from_dict(sums, orient='columns')
bb = myres.sum()
list(bb.nlargest(3).index)

['California', 'Texas', 'Illinois']

In [406]:
census_df = pd.read_csv('census.csv')
z = census_df[~(census_df.STNAME == census_df.CTYNAME)]
cols = [i for i in list(z) if 'POPESTIMATE' in i]
columns_to_keep = ['CTYNAME']+cols
data = z[columns_to_keep];
data = data.set_index('CTYNAME')

data['LAC'] = data.apply(lambda row: abs(row.max()-row.min()), axis=1)
data.LAC.argmax()

'Harris County'

In [377]:
sums={}

for i,_ in set(cities.index):
    sums[i] = cities.loc[i].values.flatten()

myres = pd.DataFrame.from_dict(sums, orient='columns')
bb = myres.sum()
list(bb.nlargest(3).index)

In [304]:
res = {sum(k.flatten()) for i,k in sums.items()}

In [290]:
for i in sums.keys():
    sums[i] = sum(sums[i].flatten())

In [383]:
658466+412992+334811

1406269

In [382]:
myres

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,658466,291826,3817117,382748,9818605,622263,916829,538479,2496435,920581,...,169468,927644,4092459,1029655,156545,1081726,1931249,193063,947735,91738
1,412992,97581,980263,221339,3095313,600158,894014,197145,1748066,805321,...,100948,626681,2368139,516564,61642,437994,795225,104169,488073,75450
2,334811,88995,375770,203065,3010232,572003,862477,162310,1320134,691893,...,44828,432226,1809034,306479,59534,402002,713335,96319,389891,46133

In [384]:
bb = myres.sum()

In [389]:
list(bb.nlargest(3).index)

['California', 'Texas', 'Illinois']

In [274]:

# x = df.groupby(['STNAME','CTYNAME'])['CENSUS2010POP'].agg({'count':sum})
# cities = pd.DataFrame(x['count'].groupby(level=0, group_keys=False).nlargest(3))
# top = cities['count'].groupby(level=0, group_keys=False).sum().nlargest(3)
# ls = list(top.index)

# for l in ls:
#     print(type(ls), type(l), l)
df = pd.read_csv('census.csv')
y = df.set_index(['STNAME', 'CTYNAME'])
y=y[['CENSUS2010POP']]
data = y.CENSUS2010POP.groupby(level=0, group_keys=False).nlargest(3)

z=data.sum(level=[0]);data
# for i in list(z.nlargest(3).index):
#     print(type(list(z.nlargest(3).index)), type(i), i)
print(z["California"])
print(z['Texas'])
print(z["New York"])
print(data['New York'])

50167874
31606159
24113524
CTYNAME
New York         19378102
Kings County      2504700
Queens County     2230722
Name: CENSUS2010POP, dtype: int64

In [217]:
x = df[['CENSUS2010POP','STNAME', 'CTYNAME']]
df_agg = x.groupby(['STNAME', 'CTYNAME'])['CENSUS2010POP'].agg({'count':sum})


res = df_agg['count'].groupby(level=0, group_keys=False).nlargest(3)


data = pd.pivot_table(df, 
                      index=['STNAME', 'CTYNAME'], 
                      values=['CENSUS2010POP'])
# for state in data.index.get_level_values(0).unique():
#     print(state, data.xs(state, level=0))

In [223]:
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3192 entries, (Alabama, Alabama) to (Wyoming, Wyoming)
Data columns (total 1 columns):
CENSUS2010POP    3192 non-null int64
dtypes: int64(1)
memory usage: 49.9+ KB

In [285]:
census_df = df
def answer_seven():
    cols = [i for i in list(census_df) if 'POPESTIMATE' in i]
    columns_to_keep = ['CTYNAME']+cols

    data = census_df[columns_to_keep]

    data = data.set_index('CTYNAME')
#     data['Value'] = data.apply(lambda row: abs(row.max()-row.min()), axis=1)
    return data#data['Value'].argmax()

answer_seven()
cols = [i for i in list(census_df) if 'POPESTIMATE' in i]
columns_to_keep = ['CTYNAME']+cols
data = census_df[columns_to_keep]
data = data.set_index('CTYNAME')
data['Value'] = data.apply(lambda row: abs(row.max()-row.min()), axis=1)
data.describe()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,Value
count,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,1.937657e+05,1.952514e+05,1.967445e+05,1.982007e+05,1.997541e+05,2.013272e+05,8.372944e+03
std,1.178710e+06,1.189648e+06,1.200508e+06,1.211123e+06,1.222669e+06,1.234218e+06,6.394960e+04
min,8.300000e+01,9.000000e+01,8.100000e+01,8.900000e+01,8.700000e+01,8.900000e+01,1.000000e+00
25%,1.127500e+04,1.127700e+04,1.119500e+04,1.118000e+04,1.112100e+04,1.118300e+04,2.680000e+02
50%,2.646700e+04,2.641700e+04,2.636200e+04,2.651900e+04,2.648300e+04,2.651400e+04,5.950000e+02
75%,7.172100e+04,7.238700e+04,7.249600e+04,7.222200e+04,7.225700e+04,7.252800e+04,1.907000e+03
max,3.733408e+07,3.770003e+07,3.805606e+07,3.841413e+07,3.879229e+07,3.914482e+07,2.224751e+06

In [332]:
def answer_six():
    x = census_df.groupby(['STNAME','CTYNAME'])['CENSUS2010POP'].agg({'count':sum})
    cities = pd.DataFrame(x['count'].groupby(level=0, group_keys=False).nlargest(3))
    top = cities['count'].groupby(level=0, group_keys=False).sum().nlargest(3)
    ls = list(top.index)
    return ls
answer_six()

['California', 'Texas', 'New York']

In [139]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [140]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [241]:
cols = [i for i in list(df) if 'POPESTIMATE' in i]
columns_to_keep = ['CTYNAME']+cols

data = df[columns_to_keep]
data = data.set_index('CTYNAME')
data['Value'] = data.apply(lambda row: abs(row.max()-row.min()), axis=1)
# [sum(x) for x in data.ix[:,1:]]
# res = g.apply(lambda x: x.order(ascending=False).head(3))
data['Value'].argmax()

'Texas'

In [249]:
[i if 'Washington' in df["CTYNAME"].values]

[True]

In [318]:
dfc = df[(df["CTYNAME"].str.contains('Washington'))&(df["REGION"] ==1) | (df["REGION"] ==2)];dfc.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
608,40,2,3,17,0,Illinois,Illinois,12830632,12831549,12841249,...,-5.243330,-5.805172,-5.308960,-7.509147,-8.174675,-3.020410,-3.519051,-2.830379,-4.625216,-5.247030
609,50,2,3,17,1,Illinois,Adams County,67103,67103,67154,...,0.148846,-1.056728,-3.786524,-1.253600,-1.835396,0.416769,-0.803709,-3.518187,-0.955124,-1.536958
610,50,2,3,17,3,Illinois,Alexander County,8238,8238,8214,...,-24.274536,-41.452095,-66.340548,-21.245370,-42.513330,-24.028094,-41.324941,-66.072506,-20.965826,-42.225104
611,50,2,3,17,5,Illinois,Bond County,17768,17768,17772,...,-7.053181,-11.029307,-12.235754,-10.861358,-10.213066,-6.206799,-10.290230,-11.431526,-9.873962,-9.215237
612,50,2,3,17,7,Illinois,Boone County,54165,54167,54123,...,-3.083513,-11.033666,-2.507383,-4.385109,-7.319935,-3.268155,-11.422436,-2.823127,-4.570919,-7.431690

In [324]:
dfd = df[df["CTYNAME"].str.contains('Washington') & ((df['REGION']==1)|(df['REGION']==2)) & (df['POPESTIMATE2015']>df['POPESTIMATE2014'])]
dfd = dfd[['STNAME', 'CTYNAME']].set_index('STNAME')
print(dfd)

                        CTYNAME
STNAME
Iowa          Washington County
Minnesota     Washington County
Pennsylvania  Washington County
Rhode Island  Washington County
Wisconsin     Washington County

In [ ]:

df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [123]:
df = df.fillna(method='ffill')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,pp
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,58214
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,58214
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,58214
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,58214
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,58214